.task-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.input-task {
  width: 650px;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;;
  background-color: #fff;
  padding: 12px 30px 12px 14px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #00471b;
  outline: none;
  margin: 3px 0 7px 0;
}

.button-task {
  padding: 14px;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #0833a2;
  color: #fff;
  text-transform: capitalize;
  width: 650px;
}